@import "~@/assets/stylus/base.styl"

.header-ul
  display flex
  list-style none
  li
    display flex
    padding 0 0 0.7rem
    line-height site-header-height
    background-color color1
    text-transform uppercase
    border-left 2px solid transparent
    justify-content center
    align-items center