color1 	    = #2C343F
color1-m 	= #3B434E
color1-l 	= #4A525D
color1-sl   = #59616C
color1-ul   = #68707B

color3    = #4BB478
color3-m  = #5AC387
color3-l  = #69D296
color3-sl = #78E1A5
color3-ul = #87F0B4
color2 = #1E84E9

color4 = #FDBD03
color5 = #f53b57
color6 = #81839A
color7 = #ABADC3
color8 = #E1E1EF
color9 = #EDEFF5
color10 = #F8F9FB

borderColor = #E1E1EF

color1 = #bababa
color2 = #2e7cc5
color3 = #eaecf5
color4 = #e8ebf1
color5 = #fafbff
color6 = #fcfcff
color7 = #f3f4fb
color8 = #eaebf3
color9 = #eceef8
color10 = #d7d8e8

textcolor1 = #4a586c
textcolor2 = #566889
textcolor3 = #848f9d
textcolor4 = #9199a9
textcolor5 = #adbcd7

colorgrey = #99a7c0
 

grey-light-0 = #D5E0EC
grey-light-1 = #E1E8F0
grey-light-2 = #EBF1F8
grey-light-3 = #F5F7FE
grey-light-4 = #F9FAFD

grey-medium-0 = #919BAA
grey-medium-1 = #A0AAB9
grey-medium-2 = #AFB9C8
grey-medium-3 = #BEC8D7
grey-medium-4 = #CDD7E6

grey-strong-0 = #555A6E
grey-strong-1 = #64697D
grey-strong-2 = #73788C
grey-strong-3 = #82879B
grey-strong-4 = #919BAA

chess-0  = #161512
chess-1  = #3B4350
chess-2  = #4A4F5F
chess-3  = #595E6E
chess-4  = #686D7D

success-0  = #3CA569
success-1  = #4BB478
success-2  = #5AC387
success-3  = #69D296
success-4  = #78E1A5

primary-0  = #0073C8
primary-1  = #1E84E9
primary-2  = #2D93F8
primary-3  = #3CA2FF
primary-4  = #4BB1FF

warning-0  = #F0B937
warning-1  = #FFC847
warning-2  = #FFD755
warning-3  = #FFE664
warning-4  = #FFF573

pendding-0  = #FF7D00
pendding-1  = #FF8C00
pendding-2  = #FF9B0F
pendding-3  = #FFAA1E
pendding-4  = #FFB92D

danger-0  = #F53B57
danger-1  = #FF4A66
danger-2  = #FF5975
danger-3  = #FF6884
danger-4  = #FF7793


highlight-0  = #1fc6dc
highlight-1  = #1fc6dc
highlight-2  = #1fc6dc
highlight-3  = #1fc6dc
highlight-4  = #1fc6dc

// green-0  = 
green-1  = #2fa890
green-2  = #1fbe9f
green-3  = #27c3a5