@font-face
  font-family 'NotoSansBold'
  src: url('../fonts/NotoSansBold.ttf') format('truetype')

@font-face
  font-family 'NotoSansBoldItalic'
  src: url('../fonts/NotoSansBoldItalic.ttf') format('truetype')

@font-face
  font-family 'NotoSansItalic'
  src: url('../fonts/NotoSansItalic.ttf') format('truetype')

@font-face
  font-family 'NotoSansRegular'
  src: url('../fonts/NotoSansRegular.ttf') format('truetype')
